body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  margin: 0;
  box-sizing: border-box;
}

.navBar {
  display: flex;
  justify-content: space-between;
  background: #e9e2e2;
  position: sticky;
  top: 0;
}

.leftNavBar {

  width: 70%;
}

.navLeftConteint {
  display: flex;
  align-items: center;
}

.navLeftConteint ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.list {
  width: 60%;

}

.rightNavBar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 30%;
}

.optionDropdown select {
  width: 90px;
  height: 30px;

}

.containt {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.leftContaint {
  width: 30%;
}

.rightContaint {
  width: 70%;
  margin-right: 15px;
}
.sort{
  padding-bottom: 20px;
}
.sort select{
  height: 31px;
  width: 105px;
}

.card-wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card {
  width: 30%;
  border: 2px solid gray;
  text-align: center;
  box-shadow: 2px 5px 3px lightblue;
  margin-bottom: 20px;
}

.card-wrap .card img {
  width: 100%;
}